<%- include('../partials/header.ejs'); -%>
<body id="body">
<%- include('../partials/nav.ejs'); -%>
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-8">
				<div>
				  <h1 class="display-4">Your Night Out</h1>
				</div>
			</div>
		</div>
	</div>
    <section id="container">
        <div id="choose">
            <h1> Choose Your Food Preference</h1>
            <h5>Select up to three types of cuisine</h5>
            <br>
                <form name="form1" action="/restaurants/" method="POST">
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="chinese">Chinese Cuisine</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="italian">Italian Cuisine</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="mexican">Mexican Cuisine</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="noodles">Noodles</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="indian">Indian Cuisine</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="japanese">Japanese Cuisine</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="american">American Cuisine</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="breakfast">Breakfast Food</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="thai">Thai Cuisine</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="vegetarian">Vegetarian Cuisine</label>
                </div>
                <input type="submit">
            </form>
            <% if (error) { %>
                <div class="alert alert-danger"><%- message %></div>
              <% } %>
        </div>
    </section>

<%- include('../partials/footer.ejs'); -%>
