<!-- Need to find reference link  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Log In</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <style>

    h1 {
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-size: 22px;
        font-family: cursive;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
         background-image: url("https://pbs.twimg.com/media/BrUV_8pCIAATYqK.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .login-box{
        width: 500px;
        height: 400px;
        background: rgba(24, 21, 21, 0.5);
        color: #fff;
        top: 50%;
        left:50%;
        position:absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
    }

    .login-box p{
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    .login-box input{
        width: 100%;
        margin-bottom: 20px;
    }

    .login-box input[type="email"], input[type="password"] {
        border: none;
        border-bottom: 10 px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 14px;
    }

    .login-box input[type="submit"] {
        background-color: #135af3;
        color: white;
        border: none;
        font-size: 18px;
        border-radius: 20px;
        height: 40px;
    }

    .login-box input[type="submit"]:hover {
        background-color: #c51cb7;
        color: white;
        cursor: pointer;
    }

    .login-box a,div{
        text-decoration: none;
        font-size: 14px;
        color: #fff;
    }

    .login-box a:hover {
        opacity: 0.8;
        color: #85e79d;
        text-decoration: underline;
    }

    </style>
</head>

<body>
    <div class="login-box">
        <h1>Welcome to Your Night Out</h1>
        <form action="/login" method="POST">
            <!-- <img src="https://i.pinimg.com/564x/76/4d/59/764d59d32f61f0f91dec8c442ab052c5.jpg" alt="Avatar" class="avatar"> -->
            <p>Email</p>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <p>Password</p>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login" Sign in />
            <div>Don't have an account? <a href="/Signup">Sign up here</a></div>
        </form>
        <ul>
            <% if(messages.success_msg) { %>
                <div class="alert alert-danger" role="alert">
                    <li>
                        <%=messages.success_msg %>
                    </li>
                    <%} %>
                </div>
        </ul>

        <ul>
            <% if(messages.error){ %>
                <div class="alert alert-danger" role="alert">
                    <li>
                        <%= messages.error %>
                    </li>
                    <% } %>
                </div>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
