<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title></title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/709760caae.js" crossorigin="anonymous"></script>
    <link href="../../resources/css/styles.css" type="text/css" rel="stylesheet">
<link href="../../resources/css/movie_preferences.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shade"></div>
        <div class="myDiv">
            <h1>Movie preferences</h1>
            <h3>Please select up to three options to generate movie theaters near by.</h3>

            <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
                </ol>
                <form action="/movies/" method="POST">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card-group">
                            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBEZ5uPg8T1en58VNdHK08U-k6kDyM1igmVg&usqp=CAU" alt="Action card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Action</h5>
                                    <div class="card-footer text-center">
                                        <input type="checkbox" name="data" value="action" style="visibility: hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqbY4nnWTv7Tx4ds82h45nHSggwMKXTsjLKg&usqp=CAU" alt="Horror card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Horror</h5>
                                    <div class="card-footer text-center">
                                        <input type="checkbox" name="data" value="horror" style="visibility: hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIXrMx7YAXzEUlZT71Y4b4OpCkUA4X2OIsbQ&usqp=CAU" alt="Drama card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Drama</h5>
                                    <div class="card-footer text-center">
                                        <input type="checkbox" name="data" value="drama" style="visibility: hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzvnSgFiB4EJmTBuTUGr5hoNRgt3pNRkts9A&usqp=CAU" alt="Romance card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Romance</h5>
                                    <div class="card-footer text-center">
                                        <input type="checkbox" name="data" value="romance" style="visibility: hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                <img class="card-img"src="https://c8.alamy.com/comp/RYMB16/wayanswayans-white-chicks-2004-RYMB16.jpg" alt="Comedy card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Comedy</h5>
                                    <div class="card-footer text-center">
                                        <input type="checkbox" name="data" value="comedy" style="visibility: hidden">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card-group">
                            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                <img class="card-img" src="https://static1.colliderimages.com/wordpress/wp-content/uploads/2020/06/back-to-the-future-2-social-feature.jpg" alt="Scifi card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Scifi</h5>
                                    <div class="card-footer text-center">
                                        <input type="checkbox" name="data" value="scifi" style="visibility: hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                <img class="card-img" src="https://static01.nyt.com/images/2020/03/31/arts/television/31xp-tigerking/31xp-tigerking-mediumSquareAt3X.jpg" alt="Documentaries card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Documentaries</h5>
                                    <div class="card-footer text-center">
                                        <input type="checkbox" name="data" value="documentaries" style="visibility: hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                <img class="card-img" src="https://fastly.syfy.com/sites/syfy/files/styles/1200x680/public/2019/07/gettyimages-93262182.jpg?offset-x=0&offset-y=0" alt="Musicals card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Musicals</h5>
                                    <div class="card-footer text-center">
                                        <input type="checkbox" name="data" value="musicals" style="visibility: hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSX9mB3lx8EQro17ao2mIYSPnA8DqgwIRUrEA&usqp=CAU" alt="Crime card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Crime</h5>
                                    <div class="card-footer text-center">
                                        <input type="checkbox" name="data" value="crime" style="visibility: hidden">
                                    </div>
                                </div>
                            </div>
                            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                                <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsImkvZC7ifeMHhwrTfcE0bTDvTXEh7R-9rQ&usqp=CAU" alt="Romcom card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Romcom</h5>
                                    <div class="card-footer text-center">
                                        <input type="checkbox" name="data" value="" style="visibility: hidden">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="Submit">
            </form>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <% if (error) { %>
                <div class="alert alert-danger"><%- message %></div>
                <% } %>
        </div>
    </div>
    <script>
        // from https://stackoverflow.com/questions/32935435/use-div-as-radio-button
        $('.card.border-secondary.mb-3').click(function(){
            if($(this).hasClass("selected")){
                $(this).removeClass("selected");
                $(this).find('input').attr("checked", false);
                $(this).find('.card-img').attr("style", "border: '';");
            } else {
                $(this).addClass("selected");
                $(this).find('input').attr("checked", true);
                $(this).find('.card-img').attr("style", "border: 3.5px solid rgb(0,123,255);");
            }
        });
    </script>
<%- include('../partials/footer.ejs'); -%>
