<%- include('../partials/header.ejs'); -%>
<body id="body">

<%- include('../partials/nav.ejs'); -%>
    <br>
    <br>
    <div id="container">
        <div id="choose">
            <h1> Choose Your Movie Preference</h1>
            <h5>Select up to three types of cuisine</h5>
            <br>
            <form action="/movies/" method="POST">
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="action">Action</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="horror">Horror</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="drama">Drama</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="romance">Romance</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="comedy">Comedy</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="scifi">Science Fiction</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="documentaries">Documentaries</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="musicals">Musicals</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="crime">Crime</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name = "data" value="romcom">Rom-Com</label>
                </div>
                <input type="submit">
            </form>
            <% if (error) { %>
                <div class="alert alert-danger"><%- message %></div>
              <% } %>
        </div>
    </div>

<%- include('../partials/footer.ejs'); -%>