#container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
}

body {
    background-color: rgb(248, 246, 225)
}
