<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: grey;">
    <a class="navbar-brand" href="/food-preferences">
        <img src="https://static.vecteezy.com/system/resources/previews/001/188/239/original/heart-logo-png.png" width="30" height="30" alt="header logo"> Home
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/food-preferences">Plan Your Date Night<span class="sr-only"></span></a>
                </div>
            </li>
    </div>
    <a href="/logout" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Log out
    </a>
</nav>
